@tailwind base;
@tailwind components;
@tailwind utilities;

.sub__title {
  @apply font-montserrat leading-tight font-normal text-lg text-gray-800  md:mb-10 md:text-3xl;
}

.descriptive__text {
  @apply font-montserrat text-left text-sm font-normal  text-black md:text-base;
}
.descriptive__text__center {
  @apply font-montserrat text-center text-sm font-normal  text-black md:text-base;
}

.video__section {
  overflow: hidden;
  position: relative;
  height: 100vh;
  object-fit: cover;
}
.video__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgb(0, 0, 0);
  line-height: 68vw;
  margin-left: -2vw;
  /* user-select: none; */
  mix-blend-mode: multiply;
  font-size: 58vw;
}
.video__title {
  color: #ffffff;
  letter-spacing: -2vw;
}
